.Links {
    background-color: #effffd;
    /* min-width: 50px; */
    /* max-width: 50%; */
    /* display: block; */
    /* max-width :20%; */


}

.Link {
    padding: 1%;


}

.Font {
    padding-right: 0.5%;
}

.Text {
    padding: 0.5%;
    text-decoration: none;
    color: #003f5c;
}

.Title {
    font-size: large;
    font-weight: bold;
    padding-bottom: 2%;
}

.Card {
    background-color: #effffd;
    /* display: flex; */
    max-width: max-content;
    padding: 1%;
    margin: 1%;
    margin-right: 10%;
    float: right;
}

.Data {
    display: inline-block;
    background-color: #effffd;
    /* min-width: max-content; */
    padding: 1%;
    margin: 1%;


}

.List {
    background-color: #effffd;
    margin: 1%;
    padding: 0.5%;
}

/* 
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red; */
/* } */

@media only screen and (max-width:768px) {
    .Links {
        width: auto;

    }

    .Link {
        padding: 5%;
    }
}