.Container{
    /* border: 2px solid green; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.Form{
    padding-top: 20px;

    /* border: 2px solid red; */
    background-color: #effffd;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Input{
    
   background-color: #6b8fea;
   border: none;
   padding: 10px 20px;
    width: 70%;
    border-radius: 25px;
    margin: 5px auto;
}
.Input::placeholder{
    color: #fff;
}

.Button{
    background-color: #6b8fea;
    border: none;

    padding: 17px 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    color:#fff;
    margin-top: 20px;
    margin-left: 65px;
}